<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="My_onw_SQL__and_Server_database.Properties.Settings.FEXXY_FUELSConnectionString"
            connectionString="Data Source=DESKTOP-72VMP8H;Initial Catalog=&quot;FEXXY FUELS&quot;;Integrated Security=True;Pooling=False;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>